nav {
  background-color: $db-dark-grey;
}

.nav__profileDetails__Container {
  padding: 0 1rem;
}

.nav__loggedinAs {
  display: block;
  font-size: 0.7rem;
}

.nav__userName {
  color: white;

  &:hover, &:active, &:focus {
    color: white;
  }
}

.navigation-container form {
  @media (min-width: 576px) and (max-width: 767px) {
    position: absolute;
    right: 0;
    top: 0;
  }
  @media (max-width: 575px) {
    position: absolute;
    right: 0;
    top: -7px;
  }
}