.notification_container {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  transition: all .5s;

  &.no-notifications {
    background: $db-light-grey;
  }
  &.notifications {
    background: $db-orange;
    animation: heartbeat 5s ease-in-out infinite both;
    cursor: pointer;
  }
}

.notification_container_small {
  display: block;

  a,
  a:hover,
  a:focus,
  a:visited,
  span {
    text-decoration: none;
  }

}

.notification_list {
  display: none;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  position: absolute;
  background: white;
  top: 4.3rem;
  z-index: 2;
  padding: .5rem;
  border: 1px solid $db-grey;
  transition: all .3s;
  width: 320px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

  &:before {
    content: " ";
    background: white;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    left: 8px;
    transform: rotate(45deg);
    z-index: -58;
    border-left: 1px solid $db-grey;
    border-top: 1px solid $db-grey;
  }
}

.notification_instance {
  background: $db-dark-grey;
  border-bottom: 1px solid $db-dark-grey-variation-1;
}

.notification_link {
  display: block;
  height: 100px;
  margin: .4rem 0;
  padding: .2rem;
  color: black;
  position: relative;

  &:hover, &:active, &:focus {
    text-decoration: none;
    color: white;
  }
}

.notification-image {
  width: 60px;
  float: left;
  margin-right: .5rem;
}

.main-text {
  font-size: .9rem;
}
.date {
  font-size: .8rem;
  color: gray;
  display: block;
  position: absolute;
  bottom: 5px;
  left: 70px;
}

.notification-mobile-box {
  .date {
    position: static;
  }
  .notification_instance {
    border: none;
  }
  .notification_link {
    color: white;
  }
}