<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
    <header th:fragment="navigation (notifications)">
        <div class="container navigation-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar navbar-expand-md navbar-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/m/}">MovieDB</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/m/movies}">Filme</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/m/series}">Reihen</a>
                                </li>
                                <li sec:authorize="isAuthenticated()" class="nav-item nav-green-af">
                                    <a class="nav-link" th:href="@{/m/addmovie}">Film hinzufügen</a>
                                </li>
                            </ul>
                        </div>

                            <!-- logged out -->
                            <form sec:authorize="!isAuthenticated()" class="form-inline my-2 my-lg-0">
                                <a class="btn btn-outline-success my-2 my-sm-0" style="color: white;" th:href="@{/}" >Login</a>
                            </form>

                            <!-- logged in -->
                            <form id="loggedin_form" sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0" style="color: white;margin: 0 1rem; ">
                                <div class="notification_container for-normal" id="notification_container" th:classappend="${#lists.size(notifications)} > 0 ? 'notifications' : 'no-notifications'" onclick="toggleNotificationWindow()">
                                    <span id ="notification_container-number" th:text="${#lists.size(notifications)}"></span>
                                </div>
                                <a class="notification_container notification_container_small for-small"
                                   id="notification_container-small"
                                   th:classappend="${#lists.size(notifications)} > 0 ? 'notifications' : 'no-notifications'"
                                   th:href="${#lists.size(notifications)} > 0 ? @{/m/notifications/new} : '#'">
                                    <span id ="notification_container-number-small" th:text="${#lists.size(notifications)}"></span>
                                </a>
                                <div id="notification_list" class="notification_list">
                                    <div id="notification_instance"
                                         th:classappend="'notification-id-'+${notification.id}"
                                         th:each="notification, index : ${notifications}"
                                         th:onmouseover="'markNotificationAsRead('+${notification.id}+')'">
                                        <a class="notification_link"
                                           th:href="@{${notification.getNotification().getNotificationUrl()}}">
                                            <img class="notification-image" th:src="${notification.getNotification().getNotificationImage()}"/>
                                            <span class="main-text"
                                                  th:text="${notification.getNotification().getNotificationText()}">
                                            </span>
                                            <span class="date" th:text="${#dates.format(notification.getNotification().getNotificationDate(), 'dd. MMMM, HH:mm')}"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="nav__profileDetails__Container">
                                    <span class="nav__loggedinAs"> Eingeloggt als: </span>
                                    <a class="nav__userName" th:href="@{/m/user/current}" sec:authentication="name"></a>
                                </div>
                                <a class="btn btn-outline-success my-2 my-sm-0" style="color: white;" th:href="@{/logout}" >
                                    <span class="for-normal">Ausloggen</span>
                                    <i class="for-small fa fa-power-off"></i>
                                </a>

                            </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

</html>
