@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
nav {
  background-color: #4e4e4e; }

.nav__profileDetails__Container {
  padding: 0 1rem; }

.nav__loggedinAs {
  display: block;
  font-size: 0.7rem; }

.nav__userName {
  color: white; }
  .nav__userName:hover, .nav__userName:active, .nav__userName:focus {
    color: white; }

.notification_container {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  transition: all .5s; }
  .notification_container.no-notifications {
    background: #c4c5c3; }
  .notification_container.notifications {
    background: #bd461b;
    animation: heartbeat 5s ease-in-out infinite both;
    cursor: pointer; }

.notification_list {
  display: none;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  position: absolute;
  background: #4e4e4e;
  color: white;
  top: 3.6rem;
  z-index: 51956161;
  padding: .5rem;
  border: 1px solid #6c6c6c;
  transition: all .5s;
  width: 320px; }
  .notification_list:before {
    content: " ";
    background: #4e4e4e;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    left: 8px;
    transform: rotate(45deg);
    z-index: -58;
    border-left: 1px solid #6c6c6c;
    border-top: 1px solid #6c6c6c; }
  .notification_list .notification_instance {
    border-bottom: 1px solid #6c6c6c;
    margin: .4rem 0;
    padding: .2rem;
    display: block;
    color: white;
    height: 100px;
    position: relative; }
    .notification_list .notification_instance:hover, .notification_list .notification_instance:active, .notification_list .notification_instance:focus {
      text-decoration: none; }
    .notification_list .notification_instance .notification-image {
      width: 60px;
      float: left;
      margin-right: .5rem; }
    .notification_list .notification_instance .main-text {
      font-size: .9rem; }
    .notification_list .notification_instance .date {
      font-size: .8rem;
      color: lightgray;
      display: block;
      position: absolute;
      bottom: 5px;
      left: 70px; }

.movie-container {
  margin: .2rem -.7rem;
  background: #edebe9;
  padding: 1rem;
  transition: all .3s;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black; }
  .movie-container:hover, .movie-container:focus, .movie-container:active {
    background: #dbd9d7;
    transform: scale(1.02);
    text-decoration: none;
    color: black; }
  .movie-container .movie-container__cover img {
    max-width: 150px;
    margin: -1rem 1rem -1rem -1rem;
    object-fit: contain; }
  .movie-container .movie-container__details {
    width: 100%;
    position: relative; }
    .movie-container .movie-container__details .movie-container__rating {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 -1rem -1rem -1rem; }
      .movie-container .movie-container__details .movie-container__rating .movie-container__rating-progressbar {
        width: 100%;
        height: 30px;
        background: lightgray; }
        .movie-container .movie-container__details .movie-container__rating .movie-container__rating-progressbar .movie-container__rating-progress {
          width: 1%;
          height: 30px;
          background: red;
          text-align: center;
          line-height: 30px;
          color: white;
          transition: background-color .5s; }
    .movie-container .movie-container__details .movie-container__rateNow-submitButton {
      padding: .5rem;
      color: white;
      background: #32d93d;
      border: 0; }
    .movie-container .movie-container__details .movie-container__rateNow-dropdown {
      padding: .5rem;
      margin-right: -4px;
      border: 0; }

.series-container {
  transition: all .3s;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background: black;
  margin: 1rem 0;
  position: relative; }
  .series-container:hover, .series-container:focus, .series-container:active {
    transform: scale(1.02);
    text-decoration: none; }
  .series-container .series-container__cover img {
    width: 100%;
    height: 200px;
    object-fit: cover; }
  .series-container .series-container__details {
    position: absolute;
    bottom: 0;
    padding-bottom: .5rem;
    padding-left: .5rem;
    color: white;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 2px black; }

@media (min-width: 577px) {
  .series-container__cover-fullheight {
    margin-right: 1rem; } }

.series-container__cover-fullheight img {
  object-fit: cover; }
  @media (min-width: 0px) and (max-width: 576px) {
    .series-container__cover-fullheight img {
      max-width: 100%; } }
  @media (min-width: 577px) {
    .series-container__cover-fullheight img {
      max-width: 250px;
      height: 266px; } }

.single-movie-container__title-container {
  background: #4e4e4e;
  color: white;
  padding: .5rem 2rem; }
  .single-movie-container__title-container h3 {
    padding-bottom: 0; }

.single-movie-container__details {
  display: flex; }
  @media (min-width: 0px) and (max-width: 576px) {
    .single-movie-container__details {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.single-movie-container__plot {
  margin: 1rem 0; }

@media (min-width: 577px) {
  .single-movie-container__cover {
    margin-right: 1rem; } }

.single-movie-container__cover img {
  object-fit: contain; }
  @media (min-width: 0px) and (max-width: 576px) {
    .single-movie-container__cover img {
      max-width: 100%; } }
  @media (min-width: 577px) {
    .single-movie-container__cover img {
      max-width: 250px; } }

.single-movie-container__rateNow {
  margin-top: 1rem; }
  .single-movie-container__rateNow:hover .single-movie-container__rateNow-dropdown {
    border: 2px solid #29a030; }
  .single-movie-container__rateNow .single-movie-container__rateNow-submitButton {
    padding: .5rem;
    color: white;
    background: #29a030;
    border: 2px solid #29a030;
    transition: all .5s; }
    .single-movie-container__rateNow .single-movie-container__rateNow-submitButton:hover {
      background: #24872b;
      border: 2px solid #24872b; }
  .single-movie-container__rateNow .single-movie-container__rateNow-dropdown {
    padding: .5rem;
    margin-right: -4px;
    border: 0;
    transition: all .5s;
    border: 2px solid transparent; }

.single-movie-container__content {
  flex: 100%; }
  @media (min-width: 0px) and (max-width: 576px) {
    .single-movie-container__content {
      width: 100%; } }
  .single-movie-container__content .single-movie-container__allratings-container {
    margin-top: 1rem; }
    .single-movie-container__content .single-movie-container__allratings-container .single-movie-container__rating-instance {
      margin: 1rem 0; }

.single-movie-container__rating .single-movie-container__rating-progressbar {
  width: 100%;
  height: 30px;
  background: lightgray; }
  .single-movie-container__rating .single-movie-container__rating-progressbar .single-movie-container__rating-progress {
    width: 1%;
    height: 30px;
    background: red;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: background-color .5s; }

.tile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-flow: wrap; }
  .tile-container .tile-instance {
    overflow: hidden;
    margin: .2rem;
    position: relative;
    transition: all .3s;
    display: inherit; }
    .tile-container .tile-instance .tile-image img {
      object-fit: cover; }
    .tile-container .tile-instance .tile-overlay {
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      color: white;
      transition: all .5s;
      padding: .2rem;
      text-shadow: 0px 0px 2px black; }
      .tile-container .tile-instance .tile-overlay span {
        display: block; }
  .tile-container .tile-instance.tile-bigger {
    width: 263px;
    height: 263px; }
    .tile-container .tile-instance.tile-bigger .tile-image img {
      width: 263px;
      height: 263px; }
    .tile-container .tile-instance.tile-bigger .tile-overlay {
      top: -225px;
      width: 263px;
      height: 263px;
      display: flex;
      flex-flow: column;
      align-items: end;
      justify-content: flex-end;
      text-align: left; }
      .tile-container .tile-instance.tile-bigger .tile-overlay .series-name {
        font-size: 1.5rem; }
    .tile-container .tile-instance.tile-bigger:hover .tile-overlay {
      top: -170px; }
  .tile-container .tile-instance.tile-box {
    width: 128px;
    height: 128px; }
    .tile-container .tile-instance.tile-box .tile-image img {
      width: 128px;
      height: 128px; }
    .tile-container .tile-instance.tile-box .tile-overlay {
      bottom: -100px;
      width: 128px;
      height: 128px; }
    .tile-container .tile-instance.tile-box:hover .tile-overlay {
      bottom: -15px; }

.hourMinuteContainer {
  font-family: 'Orbitron', sans-serif;
  background: #4e4e4e;
  color: white;
  padding: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-shadow: 0px 0px 2px black;
  margin-top: .7rem; }

.hourMinuteContainer__additional {
  background: grey;
  text-align: center;
  padding: .5rem;
  color: white; }

body {
  font-family: 'Open Sans', sans-serif; }

main .row {
  margin-top: 15px; }

h3 {
  padding-bottom: 10px; }

.pagination-centered {
  padding-left: 2px; }
  .pagination-centered .pagination {
    flex-flow: wrap; }
    .pagination-centered .pagination li {
      margin: .2rem .2rem;
      transition: all .3s;
      width: 40px;
      height: 40px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      .pagination-centered .pagination li:not(.disabled):not(.active) {
        background: #edebe9; }
        .pagination-centered .pagination li:not(.disabled):not(.active):hover {
          transform: translateY(-5px); }
      .pagination-centered .pagination li.disabled {
        background: #b4b2b0;
        pointer-events: none; }
        .pagination-centered .pagination li.disabled a {
          color: lightgray; }
      .pagination-centered .pagination li.active {
        pointer-events: none;
        background: #18599c; }
        .pagination-centered .pagination li.active a {
          color: white; }
      .pagination-centered .pagination li a {
        color: #2c2c2c; }

.btn {
  border-radius: 0; }

footer a {
  color: #4e4e4e;
  text-decoration: none; }

.notification-user-box {
  background: #4e4e4e;
  padding: 1rem;
  color: white;
  margin-bottom: 1rem; }
  .notification-user-box.notification-seen span {
    opacity: .5; }
  .notification-user-box .date {
    display: block;
    font-size: .8rem;
    color: lightgray; }

/* ----------------------------------------------
 * Generated by Animista on 2018-4-29 12:46:5
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.93);
    transform: scale(0.93);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.93);
    transform: scale(0.93);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

/* ----------------------------------------------
 * Generated by Animista on 2018-4-29 12:56:1
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1; } }

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1; } }

/* ----------------------------------------------
 * Generated by Animista on 2018-4-29 12:57:45
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

/*# sourceMappingURL=../../../../target/style.css.map */