@import url("https://fonts.googleapis.com/css?family=Open+Sans");
nav {
  background-color: #4e4e4e; }

.movie-container {
  margin: .2rem -.7rem;
  background: #edebe9;
  padding: 1rem;
  transition: all .3s;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black; }
  .movie-container:hover, .movie-container:focus, .movie-container:active {
    background: #dbd9d7;
    transform: scale(1.02);
    text-decoration: none;
    color: black; }
  .movie-container .movie-container__cover img {
    max-width: 150px;
    margin: -1rem 1rem -1rem -1rem;
    object-fit: contain; }
  .movie-container .movie-container__details {
    width: 100%;
    position: relative; }
    .movie-container .movie-container__details .movie-container__rating {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 -1rem -1rem -1rem; }
      .movie-container .movie-container__details .movie-container__rating .movie-container__rating-progressbar {
        width: 100%;
        height: 30px;
        background: lightgray; }
        .movie-container .movie-container__details .movie-container__rating .movie-container__rating-progressbar .movie-container__rating-progress {
          width: 1%;
          height: 30px;
          background: red;
          text-align: center;
          line-height: 30px;
          color: white;
          transition: background-color .5s; }

.tile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-flow: wrap; }
  .tile-container .tile-instance {
    overflow: hidden;
    margin: .2rem;
    position: relative;
    transition: all .3s;
    display: inherit; }
    .tile-container .tile-instance .tile-image img {
      object-fit: cover; }
    .tile-container .tile-instance .tile-overlay {
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      color: white;
      transition: all .5s;
      padding: .2rem;
      text-shadow: 0px 0px 2px black; }
      .tile-container .tile-instance .tile-overlay span {
        display: block; }
  .tile-container .tile-instance.tile-bigger {
    width: 245px;
    height: 245px; }
    .tile-container .tile-instance.tile-bigger .tile-image img {
      width: 245px;
      height: 245px; }
    .tile-container .tile-instance.tile-bigger .tile-overlay {
      top: -210px;
      width: 245px;
      height: 245px;
      display: flex;
      flex-flow: column;
      align-items: end;
      justify-content: flex-end;
      text-align: left; }
      .tile-container .tile-instance.tile-bigger .tile-overlay .series-name {
        font-size: 1.5rem; }
    .tile-container .tile-instance.tile-bigger:hover .tile-overlay {
      top: -155px; }
  .tile-container .tile-instance.tile-box {
    width: 120px;
    height: 120px; }
    .tile-container .tile-instance.tile-box .tile-image img {
      width: 120px;
      height: 120px; }
    .tile-container .tile-instance.tile-box .tile-overlay {
      bottom: -90px;
      width: 120px;
      height: 120px; }
    .tile-container .tile-instance.tile-box:hover .tile-overlay {
      bottom: -10px; }

.hourMinuteContainer {
  margin-top: -25px; }

#totalWastedHours {
  font-size: 7rem; }

#totalWastedMinutes,
#totalWastedWithMovies {
  font-size: 4rem; }

.hourMinuteContainer__additional {
  margin-top: -3.5rem; }

.lineBreakAfterSpan:after {
  content: " ";
  display: block; }

.totalWastedDescription {
  font-size: 1.2rem; }

body {
  font-family: 'Open Sans', sans-serif; }

main .row {
  margin-top: 15px; }

h3 {
  padding-bottom: 10px; }

.pagination-centered {
  padding-left: 2px; }
  .pagination-centered .pagination {
    flex-flow: wrap; }
    .pagination-centered .pagination li {
      margin: .2rem .2rem;
      transition: all .3s;
      width: 40px;
      height: 40px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      .pagination-centered .pagination li:not(.disabled):not(.active) {
        background: #edebe9; }
        .pagination-centered .pagination li:not(.disabled):not(.active):hover {
          transform: translateY(-5px); }
      .pagination-centered .pagination li.disabled {
        background: #b4b2b0;
        pointer-events: none; }
        .pagination-centered .pagination li.disabled a {
          color: lightgray; }
      .pagination-centered .pagination li.active {
        pointer-events: none;
        background: #18599c; }
        .pagination-centered .pagination li.active a {
          color: white; }
      .pagination-centered .pagination li a {
        color: #2c2c2c; }

/*# sourceMappingURL=style.css.map */