.hourMinuteContainer {
  font-family: 'Orbitron', sans-serif;
  color: rgb(33, 37, 41);
  font-size: 1.8rem;
  margin-top: .7rem;
}

.hourMinuteContainer__additional {
  color: rgb(33, 37, 41);
}

.hoursAndMinutes {
  @media (max-width: 767px) {
    text-align: center;
  }
}