.hourMinuteContainer {
  margin-top: -25px;
}

#totalWastedHours {
  font-size: 7rem;
}
#totalWastedMinutes,
#totalWastedWithMovies
{
  font-size: 4rem;
}

.hourMinuteContainer__additional {
  margin-top: -3.5rem;
}


.lineBreakAfterSpan:after {
  content : " ";
  display: block;
}

.totalWastedDescription {
  font-size: 1.2rem;
}

