.tile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-flow: wrap;

  $tile-width: 128px;
  $tile-height: 128px;

  $tile-bigger-width: 263px;
  $tile-bigger-height: 263px;

  .tile-instance {
    overflow: hidden;
    margin: .2rem;
    position: relative;
    transition: all .3s;
    display: inherit;

    .tile-image {
      img {
        object-fit: cover;
      }
    }
    .tile-overlay {
      position: absolute;
      background: rgba(0,0,0,.4);
      color: white;
      transition: all .5s;
      padding: .2rem;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);

      span {
        display: block;
      }
    }
  }

  // Bigger Tile
  .tile-instance.tile-bigger {
    width:  $tile-bigger-width;
    height: $tile-bigger-height;

    .tile-image {
      img {
        width:  $tile-bigger-width;
        height: $tile-bigger-height;
      }
    }

    .tile-overlay {
      top: -225px;
      width:  $tile-bigger-width;
      height: $tile-bigger-height;
      display: flex;
      flex-flow: column;
      align-items: end;
      justify-content: flex-end;
      text-align: left;

      .series-name {
        font-size: 1.5rem;
      }
    }
    &:hover .tile-overlay {
      top: -170px;
    }
  }

  // Smaller Tile
  .tile-instance.tile-box {
    width:  $tile-width;
    height: $tile-height;

    .tile-image {
      img {
        width:  $tile-width;
        height: $tile-height;
      }
    }

    .tile-overlay {
      bottom: -100px;
      width:  $tile-width;
      height: $tile-height;
    }

    &:hover {
      .tile-overlay {
        bottom: -15px;
      }
    }
  }
}