.tile-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: flex-start;

  @media (max-width: 767px) {
    justify-content: center;
  }

  .tile-instance {
    overflow: hidden;
    margin: .2rem;
    position: relative;
    transition: all .3s;
    display: inherit;

    .tile-image {
      img {
        object-fit: cover;
      }
    }
    .tile-overlay {
      position: absolute;
      transition: all .5s;
      padding: .2rem;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
      color: white;

      &.always-visible {
        font-size: 1.5rem;
        text-align: center;
        display: flex;
        align-items: center;

        &:hover {
          transform: scale(1.05);
        }

        &.tile-blue {
          background: linear-gradient(135deg, $db-dark-blue 0%, darken($db-dark-blue, 20%) 100%);
        }
        &.tile-orange {
          background: linear-gradient(135deg, $db-orange 0%, darken($db-orange, 20%) 100%);
        }
      }
      &:not(.always-visible) {
        background: rgba(0,0,0,.4);
      }

      span {
        display: block;
      }
    }
  }

  // _______________________________________________________ Bigger Tile
  .tile-instance.tile-bigger {
    @media (max-width: 991px) {
      width: $tile-bigger-proportions-large;
      height: $tile-bigger-proportions-large;

      .tile-image img {
        width: $tile-bigger-proportions-large;
        height: $tile-bigger-proportions-large;
      }
    }
    @media (min-width:992px) and (max-width: 1199px) {
      width: $tile-bigger-proportions-medium;
      height: $tile-bigger-proportions-medium;

      .tile-image img {
        width: $tile-bigger-proportions-medium;
        height: $tile-bigger-proportions-medium;
      }
    }
    @media (min-width: 1200px) {
      width: $tile-bigger-proportions-large;
      height: $tile-bigger-proportions-large;

      .tile-image img {
        width: $tile-bigger-proportions-large;
        height: $tile-bigger-proportions-large;
      }
    }

    .tile-overlay {
      top: -195px;
      width:  $tile-bigger-proportions-large;
      height: $tile-bigger-proportions-large;
      display: flex;
      flex-flow: column;
      align-items: end;
      justify-content: flex-end;
      text-align: left;

      .series-name {
        font-size: 1.5rem;
      }
    }
    &:hover .tile-overlay {
      top: -140px;
    }
  }

  // _______________________________________________________ Smaller Tile
  .tile-instance.tile-box {
    width:  $tile-small-width;
    height: $tile-small-height;

    .tile-image {
      img {
        width:  $tile-small-width;
        height: $tile-small-height;
      }
    }

    .tile-overlay {
      &.always-visible {
        bottom: 0;
        top: 0;
      }
      &:not(.always-visible) {
        bottom: -110px;
      }

      width:  $tile-small-width;
      height: $tile-small-height;
    }

    &:hover {
      .tile-overlay:not(.always-visible) {
        bottom: -15px;
      }
    }
  }
}