@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

main {
  .row {
    margin-top: 15px;
  }
}

h3 {
  padding-bottom: 10px;
  @media (max-width: 390px) {
    font-size: 1.2rem;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 1.2rem;
  }
}

.col-md-6 {
  @media (max-width: 767px) {
    margin-bottom: 1rem;
  }
}

.pagination-centered {
  padding-left: 2px;
  .pagination {
    flex-flow: wrap;
    li {
      margin: .2rem .2rem;

      transition: all .3s;
      width: 40px;
      height: 40px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &:not(.disabled):not(.active) {
        background: $db-light-grey;
        &:hover {
          transform: translateY(-5px);
        }
      }

      &.disabled {
        background: $db-grey;
        pointer-events: none;
        a {
          color: lightgray;
        }
      }
      &.active {
        pointer-events: none;
        background: $db-dark-blue;
        a {
          color: white;
        }
      }

      a {
        color: #2c2c2c;
      }
    }
  }
}

.btn,
input,
textarea,
select,
.alert
{
  border-radius: 0 !important;
}

.alert {
  margin-top: 1rem;
}

footer {
  background: linear-gradient(135deg, $db-grey 0%,$db-dark-grey 75%);
  padding: 1rem;
  color: white;
  min-height: 6rem;
  margin-top: 2rem;

  a {
    color: white;
    text-decoration: none;
  }
}

.for-normal {
  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 768px) {
    display: block;
  }
}
.for-normal-inline-block {
  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 768px) {
    display: inline-block;
  }
}
.for-small {
  @media (max-width: 767px) {
    display: block;
  }
  @media (min-width: 768px) {
    &:before {
      display: none !important;
    }
    display: none !important;
  }
}

.hide-for-767down {
  @media (max-width: 767px) {
    display: none;
  }
}

.navbar-toggler {
  border-radius: 0;
  border: none;
  border-color: transparent;

  .navbar-toggler-icon {
    color: white;
  }
}

// bootstrap overrides
.btn-primary {
  background-color: $db-dark-blue;
}