<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/special_movieList_header :: header" />
<body>
<nav th:include="fragments/navigation :: navigation (notifications=${notifications})" id="navigationbar"/>
<main id="main" role="main" class="container">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h3>Neuen Film hinzufügen:</h3>
               <form th:action="@{/addMovieAction}" th:object="${movie}" method="POST">

                   <!-- Movie Title Input -->
                   <div class="form-group">
                       <label for="movieTitle"> Filmtitel </label>
                       <input th:field="*{title}" placeholder="Titel" id="movieTitle" class="form-control" aria-describedby="movieTitleHelp"/>
                       <small id="movieTitleHelp" class="form-text text-muted">Filmtitel, bevorzugt auf Englisch.</small>
                   </div>

                   <!-- Movie Genre Select -->
                   <div class="form-group">
                       <label for="movieGenre"> Genre </label>
                       <select th:field="*{genre}" class="form-control" id="movieGenre">
                           <option th:each="genre_ : ${genres_}" th:value="${genre_.id}" th:text="${genre_.name}"></option>
                       </select>
                   </div>

                   <!-- Movie Series Select -->
                   <div class="form-group">
                       <label for="movieSeries"> Filmreihe </label>
                       <select th:field="*{series}" class="form-control" id="movieSeries">
                           <option th:each="serie_ : ${series_}" th:value="${serie_.id}" th:text="${serie_.name}"></option>
                       </select>
                   </div>

                   <!-- Movie Submit -->
                   <button type="submit" class="btn btn-primary">Post!</button>
               </form>
           </div>
       </div>
   </div>
</main>
<footer th:include="fragments/footer :: footer(wastedHours=${wastedHours},wastedMinutes=${wastedMinutes})" />
</body>
</html>