<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/special_movieList_header :: header" />
<body>
<nav th:include="/fragments/navigation :: navigation" id="navigationbar" />
<main id="main" role="main" class="container">
   <div class="container">
       <div class="col-md-12">
           <h3>Neuen Film hinzufügen:</h3>
           <form th:action="@{/addMovieAction}" th:object="${movie}" method="POST">
               <input th:field="*{title}" placeholder="Titel" />

               <select th:field="*{genre}">
                   <option th:each="genre_ : ${genres_}" th:value="${genre_.id}" th:text="${genre_.name}"></option>
               </select>

               <select th:field="*{series}">
                   <option th:each="serie_ : ${series_}" th:value="${serie_.id}" th:text="${serie_.name}"></option>
               </select>

               <button type="submit">Post!</button>
           </form>
       </div>
   </div>
</main>
<footer th:include="/fragments/special_movieList_footer :: footer" />
</body>
</html>