<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/special_movieList_header :: header" />
<body>
<nav th:include="fragments/navigation :: navigation (notifications=${notifications})" id="navigationbar"/>
<main id="main" role="main" class="container">
    <div class="row">
        <div class="col-md-6" th:each="movie, index : ${movies}">
            <a class="movie-container" th:classappend="@{'movie-id-' + ${movie.id}}" th:href="@{'/m/movies/' + ${movie.id}}">
                <div class="movie-container__cover">
                    <img th:src="${movie.coverImage}"/>
                </div>
                <div class="movie-container__details">
                    <h3 class="movie-container__title" th:text="${movie.title}"></h3>
                    <div class="movie-container__watchedDate">
                        <span>Eingetragen am </span><span th:text="${#dates.format(movie.registeredDate, 'dd. MMMM yyyy')}"></span>
                    </div>
                    <div class="movie-container__genre">
                        <span>Genre: </span><span th:style="'color:' + ${movie.getGenre().color}" th:text="${movie.getGenre().name}"></span>
                    </div>

                    <div class="movie-container__rating" th:attr="data-movie-rating=${movie.rating}">

                        <div class="movie-container__rating-progressbar">
                            <div class="movie-container__rating-progress" th:text="${movie.rating}"></div>
                        </div>

                    </div>
                </div>

                <script th:inline="javascript">
                    /*[+
                    var elementclass  = '.movie-id-' + [[${movie.id}]] + ' .movie-container__rating-progress';
                    var percentage = [[${movie.rating}]]
                     +]*/
                    adjustRatingProgressBar(elementclass, percentage*10);
                </script>
            </a>
        </div>
    </div>

    <!-- Pagination -->
    <div class="row">
        <div th:if="${movies.totalPages != 1}"
             class="form-group col-md-11 pagination-centered">
            <ul class="pagination">
                <li th:class="${movies.number == 0} ? disabled"><a
                        class="pageLink"
                        th:href="@{/m/movies/(pageSize=${selectedPageSize}, page=1)}">«</a>
                </li>
                <li th:class="${movies.number == 0} ? disabled"><a
                        class="pageLink"
                        th:href="@{/m/movies/(pageSize=${selectedPageSize}, page=${movies.number})}">←</a>
                </li>
                <li
                        th:class="${movies.number == (page - 1)} ? 'active pointer-disabled'"
                        th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="pageLink"
                       th:href="@{/m/movies/(pageSize=${selectedPageSize}, page=${page})}"
                       th:text="${page}"></a>
                </li>
                <li
                        th:class="${movies.number + 1 == movies.totalPages} ? disabled">
                    <a class="pageLink"
                       th:href="@{/m/movies/(pageSize=${selectedPageSize}, page=${movies.number + 2})}">→</a>
                </li>
                <li
                        th:class="${movies.number + 1 == movies.totalPages} ? disabled">
                    <a class="pageLink"
                       th:href="@{/m/movies/(pageSize=${selectedPageSize}, page=${movies.totalPages})}">»</a>
                </li>
            </ul>
        </div>
    </div>
</main>
<footer th:include="fragments/footer :: footer(wastedHours=${wastedHours},wastedMinutes=${wastedMinutes})" />
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        changePageAndSize();
    });
    function changePageAndSize() {
        $('#pageSizeSelect').change(function(evt) {
            window.location.replace("movies/?pageSize=" + this.value + "&page=1");
        });
    }
    /*]]>*/
</script>
</body>
</html>