<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/special_movieList_header :: header" />
<body>
<nav th:include="fragments/navigation :: navigation (notifications=${notifications})" id="navigationbar"/>
<main id="main" role="main" class="container">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h3>Neuen Film hinzufügen:</h3>
               <form th:action="@{/actions/addMovieAction}" th:object="${movie}" method="POST">

                   <!-- Movie Title Input -->
                   <div class="form-group">
                       <label for="movieTitle"> Filmtitel / IMDB-ID </label>
                       <input th:field="*{title}" placeholder="Titel" id="movieTitle" class="form-control" aria-describedby="movieTitleHelp"/>
                       <small id="movieTitleHelp" class="form-text text-muted">IMDB-ID oder Filmtitel, bevorzugt auf Englisch.</small>
                       <div id="foundMovies" class="tile-container"></div>
                   </div>

                   <!-- Movie Genre Select -->
                   <div class="form-group">
                       <label for="movieGenre"> Genre </label>
                       <select th:field="*{genre}" class="form-control" id="movieGenre">
                           <option th:each="genre_ : ${genres_}" th:value="${genre_.id}" th:text="${genre_.name}"></option>
                       </select>
                   </div>

                   <!-- Movie Series Select -->
                   <div class="form-group">
                       <label for="movieSeries"> Filmreihe </label>
                       <select th:field="*{series}" class="form-control" id="movieSeries">
                           <option th:each="serie_ : ${series_}" th:value="${serie_.id}" th:text="${serie_.name}"></option>
                       </select>
                   </div>

                   <!-- Movie Submit -->
                   <button type="submit" class="btn btn-primary">Post!</button>
               </form>
           </div>
       </div>
   </div>
</main>
<script th:inline="javascript">
    $( document ).ready(function() {
        const APIKEY = "92857ebb";
        const INITIAL_DATAURL = "http://www.omdbapi.com/?apikey=" + APIKEY + "&";

        var timeout = null;
        var $movieTitle = $("#movieTitle");

        $movieTitle.keyup(function() {
            clearTimeout(timeout);
            timeout = setTimeout(function() {
                $.get(INITIAL_DATAURL + "s=" + encodeURI($movieTitle.val()), function (data) {
                    var obj = data["Search"];

                    var htmloptions = "";
                    $(obj).each(function (index, el) {
                        var poster = el['Poster'];
                        var posterPlaceholder  = /*[[ @{'/img/placeholder_poster.png'} ]]*/ "genericUrl";

                        if(poster === "N/A") {
                            poster = posterPlaceholder;
                        }

                        htmloptions += '' +
                            '<a class="tile-instance tile-box" href="#" onclick="$(\'#movieTitle\').val(\'imdbID: '+el['imdbID']+'\')">' +
                                '<div class="tile-image">' +
                                    '<img src="'+poster+'" />' +
                                '</div>' +
                                '<div class="tile-overlay always-visible small tile-gray-transparent">' +
                                    '<span class="tile-overlay-movie_title">'+el['Title']+' ('+el['Year']+')</span>' +
                                '</div>' +
                            '</a>';

                        if (index == obj.length - 1) {
                            $('#foundMovies').append(htmloptions);
                        }
                    });
                });
            },800);
        });
    });
</script>
<footer th:include="fragments/footer :: footer(wastedHours=${wastedHours},wastedMinutes=${wastedMinutes})" />
</body>
</html>