<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/special_movieList_header :: header" />
<body>
<nav th:include="/fragments/navigation :: navigation (notifications=${notifications})" id="navigationbar"/>
<main id="main" role="main" class="container">

    <div class="row">
        <div class="col-md-6 notification-mobile-box" th:each="notification : ${notifications}">
            <a class="notification_instance"
               th:href="@{'/movies/' + ${notification.getNotification().getMovie().id}}"
               th:classappend="'notification-id-'+${notification.id}"
               th:onclick="'markNotificationAsRead('+${notification.id}+')'">
                <img class="notification-image" th:src="${notification.getNotification().getMovie().getCoverImage()}"/>
                <span class="main-text"
                      th:text="${notification.getNotification().getUser().getUsername()} +
                      ' hat ' +
                      ${notification.getNotification().getMovie().title} +
                      ' hinzugefügt.'
                "></span>
                <span class="date" th:text="${#dates.format(notification.getNotification().getNotificationDate(), 'dd. MMMM, HH:mm')}"></span>
            </a>
        </div>
    </div>

</main>
<footer th:include="/fragments/footer :: footer(wastedHours=${wastedHours},wastedMinutes=${wastedMinutes})" />
</body>
</html>