<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/special_movieList_header :: header" />
<body>
<nav th:include="fragments/navigation :: navigation (notifications=${notifications})" id="navigationbar"/>
<main id="main" role="main" class="container">

    <!-- Notification List for Mobile Users -->

    <div class="row">
        <div class="col-md-12">
            <h3>Was du verpasst hast</h3>
            <div class="alert alert-info" role="alert" th:if="${#lists.isEmpty(notifications)}">
                Derzeit keine neuen Meldungen für dich vorhanden!
            </div>
        </div>

        <div class="offset-md-3 col-md-6 notification-mobile-box">
            <div class="notification_instance"
                 th:classappend="'notification-id-'+${notification.id}"
                 th:each="notification, index : ${notifications}"
                 th:onclick="'markNotificationAsRead('+${notification.id}+')'">

                <a class="notification_link"
                   th:href="@{${notification.getNotification().getNotificationUrl()}}">

                    <img class="notification-image" th:src="${notification.getNotification().getNotificationImage()}"/>
                    <span class="main-text"
                          th:text="${notification.getNotification().getNotificationText()}">
                     </span>
                    <span class="date" th:text="${#dates.format(notification.getNotification().getNotificationDate(), 'dd. MMMM, HH:mm')}"></span>

                </a>
            </div>
        </div>
    </div>

</main>
<footer th:include="fragments/footer :: footer(wastedHours=${wastedHours},wastedMinutes=${wastedMinutes})" />
</body>
</html>