<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/special_movieList_header :: header" />
<body>
<nav th:include="/fragments/navigation :: navigation (notifications=${notifications})" id="navigationbar"/>
<main id="main" role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tile-container">
                <a class="tile-instance tile-thicc" th:each="serie : ${series}" th:href="@{'/series/' + ${serie.id}}">
                    <div class="tile-image">
                        <img th:src="${serie.coverImage}"/>
                    </div>
                    <div class="tile-overlay">
                        <span class="series-name" th:text="${serie.name}"></span>
                        <span style="display: block" class="hidden-until-hover">Zuletzt aktualisiert:</span>
                        <span class="hidden-until-hover" th:text="${#dates.format(serie.lastUsed, 'dd. MMMM. yyyy')}"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="row">
        <div th:if="${series.totalPages != 1}"
             class="form-group col-md-11 pagination-centered">
            <ul class="pagination">
                <li th:class="${series.number == 0} ? disabled"><a
                        class="pageLink"
                        th:href="@{/series/(pageSize=${selectedPageSize}, page=1)}">«</a>
                </li>
                <li th:class="${series.number == 0} ? disabled"><a
                        class="pageLink"
                        th:href="@{/series/(pageSize=${selectedPageSize}, page=${series.number})}">←</a>
                </li>
                <li
                        th:class="${series.number == (page - 1)} ? 'active pointer-disabled'"
                        th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="pageLink"
                       th:href="@{/series/(pageSize=${selectedPageSize}, page=${page})}"
                       th:text="${page}"></a>
                </li>
                <li
                        th:class="${series.number + 1 == series.totalPages} ? disabled">
                    <a class="pageLink"
                       th:href="@{/series/(pageSize=${selectedPageSize}, page=${series.number + 2})}">→</a>
                </li>
                <li
                        th:class="${series.number + 1 == series.totalPages} ? disabled">
                    <a class="pageLink"
                       th:href="@{/series/(pageSize=${selectedPageSize}, page=${series.totalPages})}">»</a>
                </li>
            </ul>
        </div>
    </div>
</main>
<footer th:include="/fragments/footer :: footer(wastedHours=${wastedHours},wastedMinutes=${wastedMinutes})" />
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        changePageAndSize();
    });
    function changePageAndSize() {
        $('#pageSizeSelect').change(function(evt) {
            window.location.replace("movies/?pageSize=" + this.value + "&page=1");
        });
    }
    /*]]>*/
</script>
</body>
</html>