<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/special_movieList_header :: header" />
<body>
<nav th:include="/fragments/navigation :: navigation (notifications=${notifications})" id="navigationbar"/>
<main id="main" role="main" class="container">
    <div class="row">
        <div class="col-md-6" th:each="serie, index : ${series}">
            <a class="series-container" th:href="@{'/series/' + ${serie.id}}">
                <div class="series-container__cover">
                    <img th:src="${serie.coverImage}"/>
                </div>
                <div class="series-container__details">
                    <h3 class="series-container__title" th:text="${serie.name}"></h3>
                    <div class="series-container__watchedDate">
                        <span>Zuletzt aktualisiert am </span><span th:text="${#dates.format(serie.lastUsed, 'dd. MMMM yyyy')}"></span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- Pagination -->
    <div class="row">
        <div th:if="${series.totalPages != 1}"
             class="form-group col-md-11 pagination-centered">
            <ul class="pagination">
                <li th:class="${series.number == 0} ? disabled"><a
                        class="pageLink"
                        th:href="@{/series/(pageSize=${selectedPageSize}, page=1)}">«</a>
                </li>
                <li th:class="${series.number == 0} ? disabled"><a
                        class="pageLink"
                        th:href="@{/series/(pageSize=${selectedPageSize}, page=${series.number})}">←</a>
                </li>
                <li
                        th:class="${series.number == (page - 1)} ? 'active pointer-disabled'"
                        th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="pageLink"
                       th:href="@{/series/(pageSize=${selectedPageSize}, page=${page})}"
                       th:text="${page}"></a>
                </li>
                <li
                        th:class="${series.number + 1 == series.totalPages} ? disabled">
                    <a class="pageLink"
                       th:href="@{/series/(pageSize=${selectedPageSize}, page=${series.number + 2})}">→</a>
                </li>
                <li
                        th:class="${series.number + 1 == series.totalPages} ? disabled">
                    <a class="pageLink"
                       th:href="@{/series/(pageSize=${selectedPageSize}, page=${series.totalPages})}">»</a>
                </li>
            </ul>
        </div>
    </div>
</main>
<footer th:include="/fragments/special_movieList_footer :: footer" />
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        changePageAndSize();
    });
    function changePageAndSize() {
        $('#pageSizeSelect').change(function(evt) {
            window.location.replace("movies/?pageSize=" + this.value + "&page=1");
        });
    }
    /*]]>*/
</script>
</body>
</html>