<!doctype html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/special_movieList_header :: header" />
<body>
<nav th:include="fragments/navigation :: navigation (notifications=${notifications})" id="navigationbar"/>
<main id="main" role="main" class="container">
    <div class="row">
        <div class="col-md-12 single-movie-container">
            <div class="single-movie-container__title-container">
                <h3 class="single-movie-container__title" th:text="${currentUser.getUsername()}"></h3>
            </div>
            <div class="single-movie-container__rating-overall" th:if="${avgUserRating > 0}">
                <div class="single-movie-container__rating">
                    <div class="single-movie-container__rating-progressbar">
                        <div class="single-movie-container__rating-progress" th:text="${avgUserRating}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Letzte Bewertungen</h3>
            <a class="movie-container" th:each="rating, index : ${movieRatings}" th:classappend="@{'movie-id-' + ${rating.getMovie().id}}" th:href="@{'/movies/' + ${rating.getMovie().id}}">
                <div class="movie-container__cover compact">
                    <img th:src="${rating.getMovie().coverImage}"/>
                </div>
                <div class="movie-container__details">
                    <h3 class="movie-container__title compact" th:text="${rating.getMovie().title}"></h3>
                    <div class="movie-container__rating" th:attr="data-movie-rating=${rating.rating}">
                        <div class="movie-container__rating-progressbar">
                            <div class="movie-container__rating-progress" th:text="${rating.rating}"></div>
                        </div>
                    </div>
                </div>
                <script th:inline="javascript">
                    /*[+
                    var elementclass  = '.movie-id-' + [[${rating.getMovie().id}]] + ' .movie-container__rating-progress';
                    var percentage = [[${rating.rating}]]
                     +]*/
                    adjustRatingProgressBar(elementclass, percentage*10);
                </script>
            </a>
        </div>
        <div class="col-md-4">
            <h3>Letzte Kommentare</h3>
            <div class="comment-instance" th:each="comment : ${userComments}">
                <div class="comment-instance__contentside" th:text="${comment.comment}"></div>
                <div class="comment-instance__movieside">
                    <span>kommentiert bei </span>
                    <a th:href="@{'/movies/' + ${comment.getMovie().getId()}}" th:text="${comment.getMovie().getTitle()}"></a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:include="fragments/footer :: footer(wastedHours=${wastedHours},wastedMinutes=${wastedMinutes})" />
<script th:inline="javascript">
    /*[+
        var elementclass  = '.single-movie-container__rating-overall .single-movie-container__rating-progress';
        var percentage = [[${avgUserRating}]]
     +]*/
    adjustRatingProgressBarWithCustomText(elementclass, percentage*10, "Durschnittliche Punktevergabe: ");
</script>
</body>
</html>