.comment-instance {

}

.comment-instance__userside {
  background: $db-dark-grey;
  color: white;
  padding: 1rem;

  span {
    display: block;
  }
}

.comment-instance__contentside {
  background: $db-light-grey;
  padding: 1rem;
}

.comment-instance__movieside {
  background: $db-dark-grey;
  color: white;
  padding: 0 1rem;

  a {
    color: white;

    &:hover,
    &:focus,
    &:active {
    text-decoration: none;
  }
  }
}