.comment-instance {
  display: flex;
}

.comment-instance__userside {
  background: $db-dark-grey;
  color: white;
  padding: 1rem;
  @media (max-width: 576px) {
    flex: 40%;
  }
  @media (min-width: 577px) {
    flex: 20%;
  }


  .date, .time {
    font-size: .7rem;
  }
  span {
    display: block;
  }
}

.comment-instance__contentside {
  background: $db-light-grey;
  padding: 1rem;
  position: relative;
  @media (max-width: 576px) {
    flex: 60%;
  }
  @media (min-width: 577px) {
    flex: 80%;
  }

  .comment-instance__contentside-deletebutton {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    color: $db-dark-grey-variation-1;
    text-decoration: underline;
  }
}

.comment-instance__movieside {
  background: $db-dark-grey;
  color: white;
  padding: 1rem;

  a {
    color: white;

    &:hover,
    &:focus,
    &:active {
    text-decoration: none;
  }
  }
}