// _________________________ Main Colors
$db-dark-grey: #4e4e4e;

// _________________________ Tiles
$tile-small-width: 128px;
$tile-small-height: 128px;
$tile-bigger-proportions-large: 263px;
$tile-bigger-proportions-medium: 215px;
$tile-bigger-proportions-small: 285px;


