// _________________________ Main Colors
$db-dark-grey: #4e4e4e;
$db-grey: #b4b2b0;
$db-light-grey: #edebe9;
$db-dark-blue: #18599c;
$db-orange: #bd461b;

// _________________________ Tiles
$tile-small-width: 128px;
$tile-small-height: 128px;
$tile-bigger-proportions-large: 263px;
$tile-bigger-proportions-medium: 215px;
$tile-bigger-proportions-small: 285px;


