// _________________________ Main Colors
$db-dark-grey: #4e4e4e;
$db-dark-grey-variation-1: #6c6c6c;
$db-grey: #b4b2b0;
$db-light-grey: #edebe9;
$db-dark-blue: #18599c;
$db-blue-gradient: linear-gradient(135deg, #18599c 0%,#2989d8 27%,#207cca 73%,#18599c 100%);
$db-orange: #bd461b;

// _________________________ Tiles
$tile-small-width: 139px;
$tile-small-height: 139px;

$tile-medium-proportions-large: 176px;
$tile-medium-proportions-medium: 196px;
$tile-medium-proportions-small: 139px;

$tile-bigger-proportions-large: 236px;
$tile-bigger-proportions-medium: 215px;
$tile-bigger-proportions-small: 285px;

$tile-thicc-proportions-large: 271px;
$tile-thicc-proportions-medium: 303px;
$tile-thicc-proportions-small: 285px;
$tile-thicc-overlay-size: 340px;

// __________________________ Ratings
$ratingbar-font-size: 10px;

// __________________________ Navbar
$navbar-height: 80px;
$navbar-bg-color: $db-dark-blue;
